.button {
  min-height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.3s;
  letter-spacing: 1px;
  border: 1px solid #999999;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: #777777;
  cursor: pointer; }
  .button.fluid {
    width: 100%; }
  .button:hover {
    filter: brightness(95%);
    transition: 0.3s; }
  .button--primary {
    background-color: #5386E4;
    border-color: #5386E4;
    color: #ffffff; }
  .button--secondary {
    background-color: #4C4B63;
    border-color: #4C4B63;
    color: #ffffff; }
  .button--error {
    background-color: #db2828;
    border-color: #db2828;
    color: #ffffff; }
  .button--success {
    background-color: #21ba45;
    border-color: #21ba45;
    color: #ffffff; }
  .button--white {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #333333; }
  .button--black {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff; }
  .button--grey5 {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #b9b9b9; }
  .button--grey2 {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #999999; }
  .button--grey3 {
    background-color: #c9c9c9;
    border-color: #c9c9c9;
    color: #777777; }
  .button--grey4 {
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    color: #666666; }
  .button--grey5 {
    background-color: #999999;
    border-color: #999999;
    color: #555555; }
  .button--grey6 {
    background-color: #777777;
    border-color: #777777;
    color: #c9c9c9; }
  .button--grey7 {
    background-color: #666666;
    border-color: #666666;
    color: #e5e5e5; }
  .button--grey8 {
    background-color: #555555;
    border-color: #555555;
    color: #f5f5f5; }
  .button--grey9 {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff; }
