.field-group {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 10px; }
  .field-group .field {
    min-height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid #b9b9b9;
    outline: none;
    box-shadow: none; }
  .field-group label {
    font-size: 14px;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .field-group label .callback {
      font-size: 12px;
      margin: 0px;
      position: initial;
      text-align: right; }
  .field-group.error label {
    color: #db2828; }
  .field-group.error .field {
    border-color: #db2828;
    background-color: #db282830;
    color: #db2828; }
    .field-group.error .field::placeholder {
      color: #db282899; }
  .field-group.success label {
    color: #21ba45; }
  .field-group.success .field {
    border-color: #21ba45;
    background-color: #21ba4530;
    color: #21ba45; }
